# ------ Haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv

# ------ Tex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
/Test.hs
/dafis-arithmoi-de12fe7f6de6.zip
/priv.key
/pub.key
